<div>
    {{#each productos}}
    <ul>
        <li>Titulo: {{this.title}}</li>
        <li>Artista:{{this.artist}}</li>
        <li>Precio:{{this.price}}</li>
        <li>Stock: {{this.stock}}</li>
    </ul>
    {{/each}}
</div>