<div>
  <div class="chat-container">

    <input class="text-light" type="text" placeholder="Username" name="username" id="username" />

    <input
      class="text-light"
      type="password"
      placeholder="Password"
      name="password"
      id="password"
    />
    <button id="login">Enviar</button>

  </div>

</div>