<div>
  <div class="chat-container">

    <input class="text-light" type="text" placeholder="Username" name="username" id="username" />

    <input
      class="text-light"
      type="password"
      placeholder="Password"
      name="password"
      id="password"
    />
    <a href="/forgot"><p>olvidaste tu contraseña?</p></a>
    <button id="login">Enviar</button>
    <a href="/signup">no tienes cuenta? registrate!</a>
    <a href="/api/sessions/githubcallback">entrar con github</a>
  </div>

</div>