{{#if message}}
<div class="container alert" role="alert">
    <h1>{{message}}</h1>
</div>
<div class="container">
    <a href="/products"><h2>Seguir comprando</h2></a>
    <a href="checkout"><h2>Ir al checkout</h2></a>
</div>

{{/if}}