<h1>Producots en tiempo real enviados desde websocket</h1>
<div>
    {{#each productos}}
    <ul>
        <li>Titulo: {{this.title}}</li>
        <li>Artista:{{this.artist}}</li>
        <li>Precio:{{this.price}}</li>
        <li>Stock: {{this.stock}}</li>
    </ul>
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>