* {
    margin: 0;
    padding: 0;
    background-color: black !important;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}
button{
    padding: 5px 10px;
    border: purple 1px solid;
    border-radius: 55px;
}
.container {
    width: 90%;
    margin: 0 auto;
}
.principal{
    border: purple 1px solid;
    padding: 15px;
}

header {
    text-align: center;
    color: white;
    border: purple 1px solid;
    margin-bottom: 25px;
}